<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-input [(ngModel)]="login" class="input"  fill="solid" placeholder="Insira seu nome, login blablabla" [ngModelOptions]="{standalone: true}"></ion-input>
    <ion-input type="password" [(ngModel)]="senha" class="input" fill="solid" placeholder="Insira sua senha" [ngModelOptions]="{standalone: true}"></ion-input>
    <ion-button expand="block" (click)="cadastrar()" [disabled]="!login || !senha">Cadastrar</ion-button>

  </form>
</ion-content>
