<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  
    <div class="teste">
      <ion-select laria-label="Lingua" interface="popover" placeholder="Selecione a Língua">
        <ion-select-option value="apples">Português (BR)</ion-select-option>
        <ion-select-option value="oranges">Inglês</ion-select-option>
        <ion-select-option value="bananas">Macaques</ion-select-option>
      </ion-select>
    </div>

    <img src="../../assets/Instagram_logo.png">

    <ion-input class="input" placeholder="Número de Telefone, email ou nome de usuário" fill="solid"> </ion-input>
    <br>
    <ion-input class="input" placeholder="Senha" fill="solid"> </ion-input>
    <br>
    <ion-button class="entrar" expand="block">Entrar</ion-button>
    <br>

    <div class="p1">
    <p>Esqueceu seus dados de Login? <a routerLink="/teste">Obtenha ajuda para entrar</a> </p>
    </div>

    <br>
    <div class="divider">OU</div>
    <br>


    
    <ion-button class="facebook" expand="full"> <ion-icon name="logo-facebook" slot="start"></ion-icon> <p>Entrar com Facebook</p></ion-button>
    <br>
    <div class="divider-text"></div>

    <div class="p2">
    <ion-item-divider ></ion-item-divider>
    <p class="sem-conta">
          Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a>
    </p>
  </div>
    


</ion-content>
