.teste {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
      }
      .button-custom ion-icon {
        margin-right: 8px; /* Ajuste o valor conforme necessário */
      }
  