

.teste {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

      }
      .button-custom ion-icon {
        margin-right: 8px; /* Ajuste o valor conforme necessário */
      }
  .input{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    --background: rgba(128, 128, 128, 0.793);
    opacity: 90%;
  }
  .entrar{
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    border-radius: 40%;
    text-transform: none;

  }

  .p1{
    margin-right: auto;
    margin-left: auto;
    width: 370px;
    text-align: center;
    font-size: 14px;
    color: rgb(168, 164, 164);
  }
  a{
    color: white;
  }
  .divider::after, .divider::before {
    background-color: #6c6c6c;
    content: '';
    height: 1px;
    margin: 0 1em;
    width: 100%;
    opacity: 80%;
    
  }
  .divider {
    display: flex;
    align-items: center;
  }

  ion-button.facebook{
    --background: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    color: inherit;
    color: rgb(38, 139, 255);
    text-transform: none;

    }

  .p2{
    position: relative; 
    bottom: -230px;
  }
  .sem-conta{
    margin-right: auto;
    margin-left: auto;  
    width: 370px;
    text-align: center;
    font-size: 14px;
    color: rgb(168, 164, 164);
   
    
  }